# Pandas Finance Notebook

In [1]:
import pandas as pd

In [3]:
# import listings-2.csv into pandas dataframe
raw_df = pd.read_csv("data/Foreign_Exchange_Rates.csv") 

raw_df.head(5)

,Unnamed: 0,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3

In [9]:
col_list = list(raw_df.columns)
col_list

['Unnamed: 0',
 'Time Serie',
 'AUSTRALIA - AUSTRALIAN DOLLAR/US$',
 'EURO AREA - EURO/US$',
 'NEW ZEALAND - NEW ZELAND DOLLAR/US$',
 'UNITED KINGDOM - UNITED KINGDOM POUND/US$',
 'BRAZIL - REAL/US$',
 'CANADA - CANADIAN DOLLAR/US$',
 'CHINA - YUAN/US$',
 'HONG KONG - HONG KONG DOLLAR/US$',
 'INDIA - INDIAN RUPEE/US$',
 'KOREA - WON/US$',
 'MEXICO - MEXICAN PESO/US$',
 'SOUTH AFRICA - RAND/US$',
 'SINGAPORE - SINGAPORE DOLLAR/US$',
 'DENMARK - DANISH KRONE/US$',
 'JAPAN - YEN/US$',
 'MALAYSIA - RINGGIT/US$',
 'NORWAY - NORWEGIAN KRONE/US$',
 'SWEDEN - KRONA/US$',
 'SRI LANKA - SRI LANKAN RUPEE/US$',
 'SWITZERLAND - FRANC/US$',
 'TAIWAN - NEW TAIWAN DOLLAR/US$',
 'THAILAND - BAHT/US$']

In [4]:
raw_df.dtypes

Unnamed: 0                                    int64
Time Serie                                   object
AUSTRALIA - AUSTRALIAN DOLLAR/US$            object
EURO AREA - EURO/US$                         object
NEW ZEALAND - NEW ZELAND DOLLAR/US$          object
UNITED KINGDOM - UNITED KINGDOM POUND/US$    object
BRAZIL - REAL/US$                            object
CANADA - CANADIAN DOLLAR/US$                 object
CHINA - YUAN/US$                             object
HONG KONG - HONG KONG DOLLAR/US$             object
INDIA - INDIAN RUPEE/US$                     object
KOREA - WON/US$                              object
MEXICO - MEXICAN PESO/US$                    object
SOUTH AFRICA - RAND/US$                      object
SINGAPORE - SINGAPORE DOLLAR/US$             object
DENMARK - DANISH KRONE/US$                   object
JAPAN - YEN/US$                              object
MALAYSIA - RINGGIT/US$                       object
NORWAY - NORWEGIAN KRONE/US$                 object
SWEDEN - KRONA/US$                           object
SRI LANKA - SRI LANKAN RUPEE/US$             object
SWITZERLAND - FRANC/US$                      object
TAIWAN - NEW TAIWAN DOLLAR/US$               object
THAILAND - BAHT/US$                          object
dtype: object

In [12]:
start_arg = '2000-12-31'
end_arg = '2002-01-01'

cond1 = (raw_df['Time Serie'] > start_arg) & (raw_df['Time Serie'] < end_arg)
mod_df = raw_df[cond1]
mod_df

,Unnamed: 0,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
260,260,2001-01-01,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
261,261,2001-01-02,1.7883,1.0565,2.2563,0.6677,1.938,1.4963,8.2779,7.8,...,1.737,7.8845,114.73,3.8,8.76,9.415,82.6,1.6075,33,43.79
262,262,2001-01-03,1.7746,1.0556,2.2406,0.6647,1.946,1.4982,8.2773,7.8,...,1.7325,7.875,114.26,3.8,8.76,9.445,82.7,1.6025,33.078,43.7
263,263,2001-01-04,1.7683,1.0584,2.2437,0.6698,1.938,1.4985,8.2781,7.7998,...,1.737,7.8991,115.47,3.8,8.7628,9.422,82.75,1.6115,33,43.53
264,264,2001-01-05,1.7507,1.0488,2.2134,0.6671,1.953,1.5003,8.2775,7.7993,...,1.7322,7.826,116.19,3.8,8.701,9.338,83.15,1.6025,32.927,43.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
516,516,2001-12-25,ND,ND,ND,ND,ND,ND,ND,ND,...,ND,ND,ND,ND,ND,ND,ND,ND,ND,ND
517,517,2001-12-26,1.9685,1.1392,2.4056,0.6901,2.32,1.599,8.2766,7.797,...,1.848,8.455,130.79,3.8,9.097,10.843,93.15,1.6917,35.1,44.1
518,518,2001-12-27,1.9704,1.1308,2.4137,0.6878,2.335,1.5954,8.2676,7.7975,...,1.854,8.412,131.47,3.8,9.018,10.705,93.15,1.678,35.13,44.28
519,519,2001-12-28,1.9562,1.1335,2.412,0.6908,2.326,1.5956,8.277,7.7973,...,1.85,8.426,131.3,3.8,9.0325,10.56,93.15,1.679,35.08,44.18
520,520,2001-12-31,1.9543,1.1235,2.4033,0.6876,2.312,1.5925,8.2766,7.798,...,1.847,8.3529,131.04,3.8,8.9724,10.4571,93.13,1.6598,35,44.24

In [17]:
mod_df['Time Serie'] = mod_df['Time Serie'].astype('datetime64[ns]')

/Users/patrickbenitez/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
cond1 = raw_df['AUSTRALIA - AUSTRALIAN DOLLAR/US$'] != 'ND'
cond2 = raw_df['INDIA - INDIAN RUPEE/US$'] != 'ND'
cond3 = raw_df['TAIWAN - NEW TAIWAN DOLLAR/US$'] != 'ND'

mod_df = raw_df[cond1 & cond2 & cond3]
mod_df.head(15)

,Unnamed: 0,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,7.7765,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,7.778,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3
5,5,2000-01-10,1.5242,0.9754,1.935,0.6107,1.819,1.4568,8.2794,7.7785,...,1.6618,7.254,105.28,3.8,8.024,8.449,73.3,1.5704,30.83,37.27
6,6,2000-01-11,1.5209,0.9688,1.9365,0.6068,1.8225,1.457,8.2795,7.7785,...,1.669,7.214,106.09,3.8,7.969,8.397,73.35,1.5605,30.83,37.61
7,7,2000-01-12,1.5202,0.9727,1.9286,0.6073,1.835,1.455,8.2796,7.7787,...,1.669,7.236,105.76,3.8,7.977,8.418,73.35,1.566,30.8,37.54
8,8,2000-01-13,1.4954,0.9737,1.9084,0.6067,1.814,1.4495,8.2798,7.7788,...,1.67,7.252,106.09,3.8,7.9425,8.417,73.35,1.5707,30.8,37.49
9,9,2000-01-14,1.5004,0.9874,1.9186,0.6115,1.805,1.4497,8.2797,7.7789,...,1.6752,7.347,105.86,3.8,7.997,8.474,73.35,1.5945,30.83,37.55
11,11,2000-01-18,1.506,0.988,1.9342,0.6105,1.7942,1.4502,8.2793,7.779,...,1.6735,7.356,105.49,3.8,8.01,8.468,72.85,1.5942,30.89,37.4
12,12,2000-01-19,1.5074,0.9886,1.9399,0.6083,1.793,1.4527,8.2797,7.7798,...,1.6753,7.3655,105.39,3.8,8,8.487,73.2,1.5965,30.85,37.4
13,13,2000-01-20,1.5002,0.9869,1.9486,0.6047,1.7785,1.4484,8.2794,7.7795,...,1.6765,7.343,105.45,3.8,7.977,8.468,72.95,1.5915,30.85,37.28
14,14,2000-01-21,1.5103,0.9901,1.9592,0.6059,1.78,1.442,8.2795,7.7792,...,1.681,7.3725,104.96,3.8,7.999,8.493,73.3,1.5973,30.85,37.23
15,15,2000-01-24,1.5281,0.9981,1.9759,0.6053,1.768,1.44,8.2789,7.7795,...,1.6825,7.428,105.52,3.8,8.026,8.526,72.95,1.609,30.85,37.3